body{
    background-color: #210348;
    display: flex;
    align-items: center;
    justify-content: center;
}
#displayHistory{
    text-align: right;
    min-height: 25px;
    background-color: rgb(22, 22, 22);
    color: white;
    font-size: 14pt;
    font-weight: 700;
    border-radius: 8px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
#display{
    text-align: right;
    background-color: black;
    color: white;
    font-size: 18pt;
    font-weight: 900;
    border-radius: 8px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.calculator{
    display: flex;
    flex-direction: column;
    margin: 10vh 10vw;
    padding: 16px;
    border-radius: 24px;
    border-style:outset;
    box-shadow: 8px 12px 18px #111111;
    background-color: rgb(225, 224, 228);
}
.button-row{
    display: flex;
    justify-content: right;
    background-color: rgb(221, 209, 233);
}
.button-column{
    display: flex;
    justify-content: right;
    background-color: rgb(221, 209, 233);
    flex-direction: column;
}
button{
    min-height: 80px;
    min-width: 80px;
}
.operators{
    background-color: rgb(40,40,40);
    color: white;
    font-size: 28px;
    font-weight: 900;
    border-radius: 24px;
}
.numbers{
    background-color: rgb(70,70,70);
    color: white;
    font-size: 28px;
    font-weight: 900;
    border-radius: 24px;
    
}
#clear{
    flex: 1;
}